html {
  box-sizing: border-box;
  font-size: 10px;
  background: #75C9BE; 
}

body{
  margin: 0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

button{
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.addTimeM, .reduceTimeM, .addTimeS, .reduceTimeS {
  font-size: 2.5em;
  display: inline;
}

.container{
  position: relative;
  text-align: center;
  margin: 21vh auto; 
  height: 50vh;   
}

.minute, .second{
  display: inline-block;
}

.minute{
  margin-right: 8%;
}

.timerM, .timerS{
  color: white;
  font-size: 6em;
}

.indicator{
  color: white;
  font-size: 1.9em;
}

.Controller{
  margin-top: 5vh;
  margin-left: 2.7%;
}

#reset, #pause, #start{
  font-size: 4.5em;
  font-family: 'Inconsolata', monospace;
  margin-right: 3%;
}

#pause{
  display: none;
}

.timesup{
  color: white;
  font-size: 4.5em;
  font-family: 'Inconsolata', monospace;
  position: relative;
  top: -200px;
  visibility: hidden;
}



@media screen and (max-height: 640px){
  .container{
    margin-top: 80px;
  }
}

@media screen and (max-height: 570px){
  .container{
    margin-top: 45px;
  }

}

@media screen and (min-height: 900px){
  .container{
    margin-top: 225px;
  }

}





